* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-700 {
  font-weight: 700;
}

.f-w-900 {
  font-weight: 900;
}

.f-f-sans {
  font-family: 'public sans';
}

.f-f-open {
  font-family: 'open sans';
}

.f-s-14 {
  font-size: 14px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-96 {
  font-size: 96px;
}

.f-s-36 {
  font-size: 36px;
}

.f-s-24 {
  font-size: 24px;
}

.f-s-26 {
  font-size: 26px;
}

.f-s-110 {
  font-size: 110px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-42 {
  font-size: 42px;
}

.f-s-62 {
  font-size: 62px;
}

.f-s-34 {
  font-size: 34px;
}

.f-s-22 {
  font-size: 22px;
}

.f-s-20 {
  font-size: 20px;
}

.button {
  height: 48px;
  border-radius: 24px;
  background-color: #4C12A1;
  padding: 10px 48px 14px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  display: block;
  overflow-y: hidden;
}

.button-1 {
  width: 218px;
  margin-top: 29px;
  position: absolute;
  right: 277px;
}

.button-2 {
  height: 47px;
  width: 267px;
  margin-top: 35px;
}

@media (max-width: 1090px) {
  .burger {
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
  }
  .burger div {
    width: 30px;
    height: 4px;
    background-color: #213038;
    margin: 6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.d-flex {
  background-color: #F2F3F4;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.p-header {
  position: absolute;
  right: 277px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 105px;
  padding: 0 277px 0 277px;
}

.logo {
  margin-top: 17px;
  width: 71px;
  height: 70px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 872px;
  margin-top: 34px;
}

.nav-links li {
  list-style: none;
}

.nav-links li:first-child {
  margin-left: 45px;
}

.nav-links a {
  line-height: 25px;
  color: #213038;
  font-size: 18px;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 400;
}

.nav-active {
  display: block;
  width: 100%;
  padding-left: 25px;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-7px, -9px);
          transform: rotate(45deg) translate(-7px, -9px);
}

.banner {
  height: 936px;
  background-image: url("./assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 277px 0 277px;
}

.banner-text {
  font-size: 96px;
  width: 718px;
  line-height: 131px;
  color: #4C12A1;
  height: 393px;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.slider {
  height: 777px;
  margin-top: 150px;
  margin-left: 277px;
}

#data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data {
  position: relative;
  width: 445px;
  height: 451px;
  border-radius: 10px;
  margin-right: 15px;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.slider-img {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 10px;
  border-radius: 10px 0 0 10px;
}

.slider-btn {
  font-family: "Public Sans";
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #4C12A1;
  width: 129px;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  top: 247px;
}

.slider-date {
  width: 148px;
  height: 36px;
  border: 1px solid #4C12A1;
  border-radius: 5px;
  font-family: "Public Sans";
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  left: 123px;
  top: 247px;
  color: #56707A;
}

.slider-description {
  margin: 25px 40px 37px 55px;
  color: #E5006D;
  font-size: 24px;
  width: 300px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */