* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   // overflow-y: hidden
}
// section {
//    // padding: 0 277px 0 277px;
// }

@import './sass/utils/fonts';
@import './sass/abstract/mixins';
@import './sass/abstract/variables';
@import './sass/components/buttons';
@import './sass/components/footer';
@import './sass/components/header';
@import './sass/pages/home';
@import './sass/abstract/keyframes'
