$lighest-grey: #F2F3F4;
$pure-white: #FFFFFF;
$pure-black: #000000;
$charcoal: #213038;
$purple: #4C12A1;
$red: #E5006D;
$second-gray: #CDD8DF;
$green-gray:#56707A;
$green: #CAE7E6;


//respnsive

// $hamburger-nav: 1700px;
// $tablet-width: 1279px;
// // $desktop-width: 1700px;
// // $nav-ham: 1390px;
// // $hamburger: 1389px;


