.d-flex {
   background-color: $lighest-grey;
   height: 39px;
}

.p-header {
   line-height: 19px;   
   margin-right: 14.427vw;
   width: 112px;
}

nav {
   height: 105px;
   width: 1366px;
   margin: 0 auto;
   display: flex;
}
.small-logo {
   display: inline-block;
   width: 53px;
   height: 53px;
   display: none;
}
.logo {
   margin-top: 18px;
   width: 71px;
   height: 70px;
}

.nav-links {
   width: 872px;
   margin-top: 34px;
li {
   list-style: none;
   &:first-child{
      margin-left: 45px;
   }
}
a {
   line-height: 25px;
   height: 25px;
   color: $charcoal;
   font-size: 18px;
   text-decoration: none;
   margin-right: 40px;
   font-weight: 400;
   }
}
.nav-box1 {
   display: none;
}

// .d-flex {
//    background-color: $lighest-grey;
//    height: 39px;
//    .p-header {
//       line-height: 19px;   
//       margin-right: 14.427vw;
//       width: 112px;
//    }
// }

// nav {
//    height: 105px;
//    width: 1366px;
//    margin: 0 auto;
//    display: flex;
//    .small-logo {
//       display: inline-block;
//       width: 53px;
//       height: 53px;
//       display: none;
//    }
//    .logo {
//       margin-top: 18px;
//       width: 71px;
//       height: 70px;
//       margin-right: 45px;
//    }
//    .nav-links {
//       width: 872px;
//       margin-top: 34px;
//          li {
//             list-style: none;
//          }
//          a {
//             line-height: 25px;
//             height: 25px;
//             color: $charcoal;
//             font-size: 18px;
//             text-decoration: none;
//             margin-right: 40px;
//             font-weight: 400;
//          }
//    }
//    .nav-box1 {
//       display: none;
//    }
// }
