.banner {
   height: 936px;
   background-image:  url('./assets/banner.png');
   background-repeat: no-repeat;
   background-size: cover;
   .banner-text {
      padding-top: 149px;
      font-size: 96px;
      max-width:906px;
      padding-right: 22px;
      line-height: 131px;
   }
}
